# ignore the usual litanny of dev things
.env
.idea

# we don't need composer.lock for this since this is a template
composer.lock

# ignore WordPress files
wp-config.php

# ignore composer installed themes, plugins, and mu-plugins
/wp-content/themes/*
/wp-content/plugins/*
/wp-content/mu-plugins/*

# ignore everything under uploads, but keep the folder so permissions stay correct
/wp-content/uploads/*
!/wp-content/uploads/.gitkeep

# if monolith, prefix our themes and plugins so we can exclude them from ignore
!/wp-content/themes/kdc-*
!/wp-content/plugins/kdc-*